<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>age</td>
            <td>属性</td>
        </tr>
        <tr th:each="list ,iterStat :${user}">
            <td th:text="${list.id}"></td>
            <td th:text="${list.name}"></td>
            <td th:text="${list.age}"></td>
            <td th:text="${iterStat.count}">count</td>
        </tr>
    </table>
</body>
</html>